name: Global Manager
on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:
jobs:
  manage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm install
      - run: node index.js
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
      - run: |
          git config --global user.name "GrettaBot"
          git config --global user.email "gretta@bot.com"
          git add .
          git commit -m "Gretta Sync: Update Term Progress" || exit 0
          git push